<h2>Ujian Pilihan Ganda</h2>
<ul>
  <li><a href="/">Mulai Ujian</a></li>
  <li><a href="/Dashboard">Dashboard </a></li>
</ul>
<form method="POST" action="/submit">
  <label>Nama:</label>
  <input type="text" name="nama" required><br><br>
  <% soal.forEach((s, i) => { %>
    <div>
      <p><%= i + 1 %>. <%= s.pertanyaan %></p>
      <% s.pilihan.forEach((pilihan, j) => { %>
        <label><input type="radio" name="jawaban[<%= i %>]" value="<%= j %>" required> <%= pilihan %></label><br>
      <% }) %>
    </div>
  <% }) %>
  <button type="submit">Selesai</button>
</form>
